1. how to access the value

In [ ]:
marks = [10, 20, 30, 40, 50]
one_marks = marks[2]

user = {
    "username": "MrJemmy",
    "email": "jbpatel1411@gmail.com",
    "phone_no": 7041521968,
    "DOB": "14-11-1999"
}
user_phone_no = user["phone_no"]

2. how up update value in list (want to update value 30 to 33) also update value in dict (want to update username from "Mrjemmy" to "jaimin")

In [ ]:
marks = [10, 20, 30, 40, 50]

user = {
    "username": "MrJemmy",
    "email": "jbpatel1411@gmail.com",
    "phone_no": 7041521968,
    "DOB": "14-11-1999"
}

3. how up update value in tuple (want to update value 30 to 33)

In [ ]:
marks = (10, 20, 30, 40, 50)

4. how to add new value in list and dict and in tuple

In [ ]:
marks = [10, 20, 30, 40, 50]

user = {
    "username": "MrJemmy",
    "email": "jbpatel1411@gmail.com",
    "phone_no": 7041521968,
    "DOB": "14-11-1999"
}

marks = (10, 20, 30, 40, 50)